/*billing-form-choose styling*/
.input-2-group,
.input-7-group {
    margin: 0;
    padding: 0;
}

#ZIP,
#VAT,
#state {
    min-width: calc(50% - 7.5px);
}

.input-7-group input#ZIP {
    margin-right: 0;
}

input#city,
input#company,
input#state,
input#country1 {
    margin-right: 15px;
}

input#country1 {
    width: calc(31.25% - 15px);
}

#timezone1 {
    width: calc(18.75% - 7.5px);
}
@media only screen and (max-width: 980px) {
	.form-place input#ZIP,
	.form-place input#state {
		width: 100%;
	}
	input#country1 {
		width: calc(65% - 15px);
	}
	input#timezone1 {
		min-width: 35%;
	}
}
@media only screen and (max-width: 768px){
	input#company,
	input#VAT {
		width: calc(50% - 7.5px);
	}
	input#company {
		margin-right: 15px;
	}
}
@media only screen and (max-width: 392px) {
	input#company,
	input#VAT, 
	input#country1,
	input#timezone1 {
		width: 100%;
	}
}
